.DS_Store
*.mod
*.a
*.o
*.so
*.sm
*~*
.metadata
.project
.pydevproject
x64/
Debug/
Debuglib/
Release/
Releaselib/
WinDLL/
*.suo
*.d
*.bat
*.pyc
*.asv
*.u2d
*.user
*.save
*.log
testfile*
*.dll
*.a
*.o
*.png
*.so
*.sm
*~
*.whl
*.pdf
.vs
*.mp4
.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
.ipynb_checkpoints/
.ipynb_*
*.sbatch
data/*cov
.VM*
interface/.DS_Store
likelihood/.DS_Store
scripts/.DS_Store
data/.DS_Store
chains2/
chains*/