*.txt           text
*.f90           text
*.F90           text
Makefile*	text
*.m             text
*.dat           text
*.ini           text
*.sh            text
*.emul filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
